/////////////////////
/// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-primary: "Roboto", "Open Sans", sans-serif;

/////////////////////
/// Colors
$bg-1: #9e50f7;
$bg-3: #181622;
$bg-aside: #211f2d;
$bg-2: #13111c;

$font-primary-color: #f6f3fc;
$font-secondary-color: #853bce;

$border-color: #524363;

$btn-primary-color: #9e50f7;
$btn-primary-hover: #6532a0;
$btn-primary-active: #905cca;
